<div class="flex-container">
  <h2>Credits</h2>
  <span class="example-spacer"></span>
  <p>This app was made with <mat-icon color="accent">favorite</mat-icon> by Killiann, Matthieu, Samuel.</p>
  <br>
  <p>The context of this project was to create an app related<br>to the respect of the environment in two weeks.</p>
  <br>
  <h2>And remember, save the planet!</h2>
  <p>You liked it ? Please rate our app on the Google Play Store.</p>
  <br>
  <button mat-raised-button routerLink="/">Go Back</button>
  <br>
</div>
