<app-ressources></app-ressources>

<div class="container">
<mat-card class="event-card">

    <mat-card-title class="event-title">{{events.title}}</mat-card-title>


    <img mat-card-image class="image" src="{{events.image}}" alt="">

  <mat-card-content class="event-content">
    <p>
      {{events.description}}    </p>
  </mat-card-content>
  <mat-card-actions class="event-button">

    <button mat-button class="choice-1" (click)="getChoice1()" color="primary"  >{{events.button1}}</button>

    <button mat-button class="choice-2"  (click)="getChoice2()" color="primary" >{{events.button2}}</button>
    <button mat-button class="choice-3"  (click)="getChoice3()" color="primary" >{{events.button3}}</button>
  </mat-card-actions>
</mat-card>
</div>
