<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Ecolead</span>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="clickSound()">
        <mat-icon>{{iconSound}}</mat-icon>
        <span>Son</span>
      </button>
      <button mat-menu-item>
        <mat-icon>toggle_on</mat-icon>
        <span>Graphismes</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Notifications</span>
      </button>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>
